NODE_ENV=development

# Application
APP_PORT=3000
APP_PREFIX=api

APP_CORS_ORIGINS=*
APP_CORS_METHODS=GET,HEAD,PUT,PATCH,POST,DELETE

# Postgres connection
PG_HOST=localhost
PG_PORT=5432
PG_USER=user
PG_PASS=pass
PG_DBNAME=app
